body {
  margin: 0;
}

.dog-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.dog-images-container img {
  padding: 1rem;
}

.dog-image-card {
  margin: 1rem
}

.jumbotron {
  margin: 1rem;
}

.dog-list-container {
  padding: 0 3rem;
}

.display-3 span {
  color: #007bff;
}

.nav-link span {
  color: #007bff;
}